<html ng-app="HeiseApp">
<head>
  <title>Learning AngularJS</title>
  <link rel="icon" href="../../favicon.ico">
  <link href="../../bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../../styles/samples.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sample</a>
    </div>
  </div>
</nav>

<div class="container" ng-controller="HeiseNewsController as hn">


  <div ng-if="hn.getUrl()" ng-repeat="stream in hn.streams">

  </div>

  <div ng-if="!hn.getUrl()" ng-repeat="stream in hn.streams">
    {{ hn.getUrl() }}
      <h3>{{ stream.title }}</h3>
      <ul>
          <li ng-repeat="item in stream.stream">
              <a ng-click="hn.navigateTo(item)">{{ item.title }}</a>
          </li>
      </ul>
  </div>

</div>



<!-- AngularJS -->
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/angular-route/angular-route.js"></script>
<script src="module.js"></script>
<script src="service.js"></script>
<script src="overview.js"></script>
</body>
</html>
